:root {
  --primary-color: #002F99;       /* Dark Blue */
  --secondary-color: #2F4F4F;     /* Dark Slate Gray */
  --accent1-color: #F0FFF0;       /* Honeydew */
  --accent2-color: #1b6f1b;       /* Dark Green */

  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Lora', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--secondary-color);
  background-color: var(--accent1-color);
}


header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

header nav ul {
  display: flex;
  justify-content: flex-end; /* send to the right */
  align-items: center;
  gap: 1rem;
}

header img {
  width: 100px;
  height: auto;
}

header h1 {
  font-size: 1.5rem;
  font-family: var(--heading-font);
  color: white;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.5rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  font-weight: bold;
}

.navigation a:hover {
  background-color: var(--accent2-color);
}

.hero {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--accent1-color);
  background-color: var(--accent2-color);
  padding: 12px 0;
  border-bottom: 2px solid var(--accent1-color);
}

.hero article {
  position: absolute;
  top: 150px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1rem;
  width: 80%;
  left: 10%;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
}

.hero article img {
  float: right;
  width: 200px;
  margin-left: 1rem;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  align-items: center;
}

.history-center h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.history img {
  width: 100%;
  border-radius: 8px;
}

.adventure .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
}

.adventure h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);

}
.adventure img {
  width: 100%;
  border-radius: 8px;
}

figcaption {
  margin-top: 0.5rem;
  font-weight: 400;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 1.5rem;
  flex-wrap: wrap;
}

.socialmedia {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.socialmedia img {
  width: 24px;
  height: 24px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    padding: 1rem;
}