* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {font-family: 'lora', serif;
      font-size: 16px;
      line-height: 1.6;
}

:root {
    --primary-color: rebeccapurple;
    --text-color: white;
    --border-color: black;
    --aside-border: rgba(0, 0, 0, 0.2);
    --aside-background: #f3f1fc;
    --aside-text-color: #2b005e;
    --padding-nav: 10px;
    --padding-link: 20px;
    --padding-img: 2px;
    --padding-aside: 1rem;
    --border-standard: 1px solid black;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-nav);
}

nav a {
    color: var(--text-color);
    display: block;
    padding: var(--padding-link);
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--aside-border);
    padding: var(--padding-aside);
    background-color: var(--aside-background);
    color: var(--aside-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
font-size: 1.5rem;
margin-bottom: 0.5rem;
color: var(--aside-text-color);
}

main img {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 150px;
    height: auto;
    border: var(--border-standard);
    padding: var(--padding-img);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border-standard);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #f9f9ff;
    /* for readability */
    color: var(--aside-text-color);
    /* dark gray/black for readability */
}

.indent {padding-left: 2rem;
}